@tailwind base;
@tailwind components;
@tailwind utilities;

/* === CONFIG WARNA (THEME CONFIG) === */

:root {
  --foreground-rgb: 15, 23, 42; 
  /* GANTI KE SLATE-200 (Abu-abu Beton - Jauh lebih terlihat abunya) */
  --background-rgb: 226, 232, 240; 
}

.dark {
  --foreground-rgb: 255, 255, 255; 
  --background-rgb: 2, 6, 23; 
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  /* SCROLLBAR CUSTOM */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #475569; /* Sedikit digelapin biar kontras sama bg baru */
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #64748b;
  }
}

html {
  scroll-behavior: smooth;
}

/* === ANIMASI INFINITE SCROLL (Marquee) === */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}